/*body{
    background-color: rgb(146, 52, 235);
    color: blanchedalmond;
    margin-left: 20px;
}*/

header{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 100px;
}

/* O ponto antes do nome serve para identificar que é uma classe*/
.img_padrao{
    margin-bottom: 1px;
    width: 300px;
}

.logo{
    width: 30px;
    margin-left: 10px;
}